#prompt {
  max-width: var(--size-laptop);
  width: 100%;
  margin: auto;
}

#app {
  background: var(--surface-1);
  /* same pixelated clipping as frames */
  clip-path: polygon(
    0px 4px, 2px 4px, 2px 2px, 4px 2px, 4px 0px,
    calc(100% - 4px) 0px, calc(100% - 4px) 2px, calc(100% - 2px) 2px, calc(100% - 2px) 4px, 100% 4px,
    100% calc(100% - 4px), calc(100% - 2px) calc(100% - 4px), calc(100% - 2px) calc(100% - 2px), calc(100% - 4px) calc(100% - 2px), calc(100% - 4px) 100%,
    4px 100%, 4px calc(100% - 2px), 2px calc(100% - 2px), 2px calc(100% - 4px), 0px calc(100% - 4px)
  );
  display: flex;
  flex: 1;
  flex-basis: 0;
  flex-direction: column;
  align-items: center;
  padding: var(--size-3);
  overflow-y: auto;
}

/* Home */
#app > fido-grid {
  margin: var(--size-3) auto;
  max-width: var(--size-laptop);
  width: 100%;
}

.app-ic {
  user-select: none;
  text-align: center;
  text-decoration: none;
  -webkit-touch-callout: none;
}
.app-ic img { image-rendering: pixelated; }
.app-ic::after {
  color: var(--text-2);
  content: attr(title);
  display: block;
  font-size: var(--font-size-0);
  line-height: 0.9em;
  margin-top: 0.3rem;
}
.app-ic fido-frame { margin: auto; }

:is(.app-ic, button):active fido-frame { --frame-active: 100%; }

:is(.app-ic, button) fido-frame { --frame: 2px; }
@media only screen and (min-device-width: 768px) {
  :is(.app-ic, button) fido-frame { --frame: 3px; }
}

:where(.trick) { all: initial; user-select: none; }
.trick fido-frame::part(content) {
  image-renderign: pixelated;
  background: linear-gradient(to right, transparent 15%, var(--surface-2) 60%), var(--frame-bg) no-repeat;
  background-size: contain;
}
.trick i {
  margin: auto;
  margin-inline-end: var(--size-1);
  font-family: monospace;
  font-size: var(--font-size-0);
  font-weight: bold;
  text-shadow: 0 0 2px var(--surface-2);
}
