ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

* {
  background: transparent;
}

/* Atoms */

.button {
  font-weight: 500;
  line-height: 20px;
  padding: 12px 10px;
  transition: opacity 0.2s ease-out, background-color 0.2s ease-out;
  cursor: pointer;
  border-radius: 36px;
}

.button--primary {
  border: none;
  color: var(--text-white);
  background: var(--background-button);
  box-shadow: 0px 0px 0px 1px #5E5E6E, 0px 1px 2px 0px rgba(17, 17, 20, 0.40);
}

.button--secondary {
  border: none;
  color: var(--text-loud);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(193, 199, 208, 0.02) 100%), var(--primary-white, #FFF);
  box-shadow: 0px 0px 0px 1px #5E5E6E, 0px 1px 2px 0px rgba(17, 17, 20, 0.40);
}

.button:active:not(:disabled) {
  opacity: 0.7;
}

.input-wrapper {
  height: 2.625rem;
  width: 100%;
  padding: 0.75rem 10px;
  box-shadow: 0px 0px 0px 1px var(--neutral-alpha-50), 0px 1px 2px 0px var(--neutral-alpha-100);
  border-radius: 2.25rem;
  display: flex;
  gap: 0.5rem;
  /* flex-direction: column; */
  align-items: center;
  background: var(--background-input);
}

.button--primary,
.button--secondary,
.input-wrapper {
  /* subtract box-shadow*/
  width: calc(100% - 2px);
  margin: 0 1px;
}


.input {
  width: 100%;
  border: 1px solid transparent;
  outline: none;
  color: var(--text-1);
}

.input__label {
  color: var(--text-2);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
}

.input__message {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
  padding: 0 0 20px;
}

.input__cta {
  border: 1px solid transparent;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.notification {
  background: white;
  color: var(--text-1);
  border: 1px solid transparent;
  width: 100%;
  padding: var(--size-1);
  text-align: left;
  position: absolute;
  z-index: 100;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 60px;
  border-radius: 8px;
  left: 0;
}

.notification__title {
  font-size: var(--font-size-0);
  font-weight: bold;
}

.notification__body {
  font-size: var(--font-size-0);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: var(--size-0);
}

/* Molecules */

.message-view--replying,
.message-view--reply,
.message-view {
  color: var(--text-1);
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.message-view:hover {
  cursor: pointer;
}

.message-view--replying {
  background: transparent;
  border-radius: var(--size-2) var(--size-2) 0 0;
  width: 100%;
}

.message-view--replying::before {
  background: transparent;
  border-radius: var(--size-1) var(--size-1) 0 0;
  width: fit-content;
  color: var(--text-1);
  font-size: var(--size-1);
  content: "Respondiendo a";
  padding: var(--size-0);
  position: absolute;
  left: 0;
  top: calc(-2 * var(--size-0) - var(--size-1));
}

.room-view {
  border: 1px solid transparent;
  max-width: 100%;
  padding: 0.5rem 0;
  text-align: left;
  transition: opacity 0.2s ease-out, background-color 0.2s ease-out;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  gap: var(--size-1);
  width: 100%;
  border-bottom: 1px solid var(--border);
}

.room-view:active:not(:disabled) {
  opacity: 0.7;
}

.room-view__title {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-1);
  height: 24px;
}

.room-view__message {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-2);
  height: 20px;
  margin-top: 4px;
}

/* Page */

.page {
  display: flex;
  height: 100vh;
  padding: 0 1rem;
}

.chat {
  height: 100%;
  width: 100%;
  position: relative;
}

.login .messages-list {
  width: 100vw !important;
}

.messages-list,
.list,
.rooms-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--size-2) 0;
  gap: var(--size-0);
  overflow-y: auto;
  width: 100%;
}

.rooms-list {
  padding: 0;
  gap: 0;
}

.list {
  padding: 0;
}

.messages-list {
  gap: var(--size-0);
  padding: 0;
  height: calc(100dvh - 72px - 62px);
  flex-direction: column-reverse;
}

.options {
  display: flex;
  flex-direction: column;
  /* width: 25vw; */
  width: 100%;
  gap: 10px;
}

.spinner-dual-ring {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: auto;
}

.spinner-dual-ring--center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.spinner-dual-ring:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 6px solid var(--text-1);
  border-color: var(--text-1) transparent var(--text-1) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.column {
  display: flex;
  flex-direction: column;
}

.column .spinner-dual-ring {
  margin: 0;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* Custom */

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(var(--text-2, 0.5));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--text-2);
  border-radius: 5px;
}

/* Responsive */

/* @media only screen and (min-width: 767px) {
  .
} */

/* @media only screen and (max-width: 767px) {
  .chat {
    flex-direction: column;
  }

  .options,
  .messages-list {
    width: 100%;
  }

  .messages-list {
    margin-top: 0;
    height: calc(100dvh - 88px - 157px);
  }

  .list {
    flex-direction: row;
    margin-top: 40px;
  }

  .room-view {
    min-width: fit-content;
  }
} */

.fadeIn {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(0, 10vh);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.row>* {
  flex: 1;
}

.button--disabled {
  background: var(--background-disabled);
  color: var(--text-disabled);
  border: 0;
  box-shadow: none;
  cursor: not-allowed;
}

.file {
  cursor: pointer;
  border: none;
  width: 100%;
  height: 2.625rem;
  background: var(--neutral-solid-100);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 12px;
}

.file__content {
  width: 100%;
  display: flex;
  gap: 4px;
}

@media (prefers-color-scheme: dark) {
  .file {
    background: var(--neutral-solid-600);
  }
}

.hover_menu {
  display: none;
  position: relative;
  min-width: 140px;
  width: fit-content;
  max-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;
  margin: 0 0 0 auto;
  background: var(--background-modal);
  right: 10px;
}

.hover_menu>ul>li>button {
  cursor: pointer;
}

.hover_menu>ul>li:not(:last-child) {
  border-bottom: 1px solid var(--border);
}

.dropdown {
  margin: 0 var(--size-1) 8px auto;
  max-height: 70vh;
  max-width: 80%;
  width: fit-content;
}

.dropdown:hover .hover_menu {
  display: block;
}

.dropdown--left {
  margin: 0 var(--size-1) 8px;
}

.dropdown--left .hover_menu {
  left: 40px;
}

.message-container {
  border-radius: 16px;
  background: var(--background-button);
  color: var(--text-white);
  display: flex;
  width: fit-content;
  margin: 0 0 0 auto;
  overflow: auto;
}

.message-wrapper {
  padding: 10px;
  border-radius: 16px;
  background: var(--background-message);
  height: 100%;
}

.message--text {
  font-size: var(--font-size-0);
  display: flex;
  gap: 11px;
  align-items: flex-end;
  justify-content: space-between;
}